.custom-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  display: flex;
  margin: 0px 20px;
}

.custom-container .content .profil-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 850px;
  padding: 20px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(35px);
}

.container .btn-container .btn {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f1f1f1;
  color: #333;
}

.container .btn-container .btn.active {
  background-color: #1b4332;
  color: #fff;
}

.custom-container h1 {
  text-align: center;
}

.custom-container .profile-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  flex-wrap: wrap;
  margin: 50px auto;
  width: 100%;
}

.custom-container .profile-info label {
  font-weight: bold;
}

.custom-container .profile-info p {
  margin: 5px 0;
}

.custom-container .form-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.custom-container .form-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.custom-container .form-container input[type="text"],
.custom-container .form-container textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.custom-container .form-container textarea:focus {
  border: 1px solid #22c55e;
}

.custom-container .form-container input[type="text"]:focus {
  border: 1px solid #22c55e;
}

.file-input-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.container #annonces-section {
  margin-top: 20px;
}

.container #annonces-section h2 {
  color: #1b4332;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.annonce-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* border: none; */
  padding: 10px;
  margin-bottom: 10px;
}

.annonce-title {
  font-weight: bold;
  color: #333;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
}

.annonce-reference {
  color: #666;
}

.annonce-category {
  color: #666;
}

.no-annonces {
  color: #dc2626;
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.file-input-label {
  display: inline-block;
  padding: 8px 20px;
  background-color: #0f2e21;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.file-input-label-text {
  display: inline-block;
  vertical-align: middle;
}

.file-input-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.file-input-label:hover {
  opacity: 0.9;
}

input[type="date"] {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
  outline: none;
  margin: 4px 0px;
}

label {
  color: #1b4332;
  font-size: 18px;
}


input[type="date"]::placeholder {
  color: #999;
}

input[type="date"]:focus {
  border-color: #1b4332;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.custom-container .form-container input[type="submit"] {
  width: 100%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: #1b4332;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.candidatures-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
}

.candidature-item {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.candidature-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #1b4332;
}

.candidature-name,
.candidature-email,
.candidature-link {
  font-size: 16px;
  margin-bottom: 4px;
}

.candidature-link {
  color: #1b4332;
  text-decoration: none;
  font-weight: bold;
}

.candidature-link:hover {
  text-decoration: underline;
}

.no-candidatures {
  font-size: 16px;
  color: #999999;
}

#candidatures-section h2 {
  color: #1b4332;
  margin-bottom: 20px;
}

.custom-container .form-container input[type="submit"]:hover {
  opacity: 0.9;
}

@media (max-width: 942px) {
  .custom-container .content .container {
    max-width: 800px;
  }

  .custom-container .profile-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    gap: 15px;
    flex-wrap: wrap;
    margin: 50px auto;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .custom-container .content .container {
    max-width: 700px;
  }
}

@media (max-width: 810px) {
  .content {
    margin: 0px 20px;
  }
  .custom-container .content .container {
    transform: translateX(0px);
  }
}

@media (max-width: 570px) {
  .custom-container .profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin: 50px auto;
    width: 100%;
  }
}

@media (max-width: 373px) {
  .content {
    margin: 0px;
  }
}
